
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0px;
    padding:0px;
}
h1{
    font-size: 10vw;
    width: 70%;
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-size: 6vw;
}
nav{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2vw;
    border-bottom: 3px solid #dfdddd;
}
nav > img:first-of-type {
    position: relative;
    top: 50%;
    width: 30%;
    height: 30%;
    padding-left:5%;
    justify-content: flex-start;
}

nav ul{
    display: none;
}
.fas.fa-times{
    display: none;
}
.fas.fa-bars{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    margin-right: 8vw;
}
header > p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 5vw;
}
header > p:nth-of-type(2){
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

header > button{
    display: flex;
    align-self: center;
    padding-left: 20vw;
    padding-top: 2vw;
    font-size: 5vw;
    height: 10vw;
    width: 75vw;
    margin-bottom: 3vw;
    color: white;
    background-color:#192592;
    border-radius: 1vw;
}
input{
    display: flex;
    align-self: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
    height: 8vw;
    width: 75vw;
    vertical-align: middle;
    border-radius: 1vw;
    font-size: 4vw;
}
header{
    display: flex;
    flex-direction: column;
}

header > img:first-of-type{
    display: flex;
    align-self: center;
    order: 4;
    width: 80%;
}
main > div:first-of-type{
    background-color: rgb(226, 224, 224);
    display: flex;
    flex-direction: column;
}

main > div:first-of-type > img{
    width: 60%;
}
main > div > p{
    font-size: 4vw;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
main > div:first-of-type > button:first-of-type{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 10vw;
    font-size: 3vw;
    font-weight: 800;
    color:blue;
    border-color: blue; 
    border-radius: 1vw;
}
main > div:first-of-type > img{
    width:45%;
    display: flex;
    align-self: center;
    margin-bottom: 15%;
}
main > div:first-of-type > img:nth-of-type(4){
    width:75%;
}
main > div:nth-of-type(2){
    border-bottom: 3px solid #dfdddd;

}
main > div:nth-of-type(2) > p:first-of-type{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: 3%;
    font-size: 6vw;
    font-weight: 700;
}
main > div:nth-of-type(2) > button{
    display: table-cell;
    vertical-align: middle;
    font-size: 5vw;
    margin: 13.5vw;
    margin-top:1%;
    height: 10vw;
    width: 74vw;
    color: white;
    background-color: rgb(66, 66, 150);
    border-radius: 1vw;
}
main > div:nth-of-type(2) > input{
    align-self: center;
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 5%;
}
footer > div > img:first-of-type{
    grid-area: img;
    width: 70%;
    margin-left: 5vw;
    justify-items: center;
}
footer > div > ul > li{
    margin-top: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
footer > div > ul > li:first-of-type{
    font-weight: 800;
}

footer > div > ul:first-of-type{
    grid-area: ul1;
    list-style-type: none;
    position: relative;
    left: 18%;
    font-size: 4.5vw;
}
footer > div > ul:nth-of-type(2n){
    grid-area: ul2;
    list-style-type: none;
    position: relative;
    padding-left: 13%;
    font-size: 4.5vw;
}
footer > div > ul:nth-of-type(3n){
    grid-area: ul3;
    list-style-type: none;
    position: relative;
    margin-left: 18%;
    font-size: 4.5vw;
}
footer > div > ul:nth-of-type(4n){
    grid-area: ul4;
    list-style-type: none;
    position: relative;
    margin-left: 0%;
    font-size: 4.5vw;
}
footer >div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 1fr ;
    grid-template-areas:
    "img ."
    "ul1 ul2"
    "ul3 ul4";
}
footer > div:nth-of-type(2n){
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10vw;
    width: 100%;
    background-color: rgb(233, 229, 229);
}
footer > div:nth-of-type(2n) > ul{
    display: flex;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 70%;
    left:19%;
    display: inline-block;
    
}
footer > div:nth-of-type(2n) > ul > li{
    display: flex;
    flex-direction: row;
    color: black;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: space-around;
    font-size: 2.5vw;
    color: grey;
    font-weight: 600;
    display: inline;
}
footer > div:nth-of-type(2n) > div:first-of-type > img{
    display: flex;
    align-self: center;
    margin-left: 85%;
    width: 20%;
    grid-area:img;
}
footer > div:nth-of-type(2n) > div:first-of-type > span{
    display: flex;
    align-self: center;
    font-size: 3vw;
    width: 100%;
    font-weight: 600;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 25%;
    grid-area:span;
}

.fas.fa-chevron-down{
    display: flex;
    align-self: center;
    font-size: 5vw;
    grid-area: i1;
}
.fab.fa-twitter{
    display: flex;
    align-self: center;
    grid-area: i3;
    margin-top: 5vw;
    font-size: 5vw;
}
.fab.fa-facebook-f{
    display: flex;
    align-self: center;
    margin-left: 46%;
    grid-area: i3;
    margin-top: 5vw;
    font-size: 5vw;
}
.fab.fa-youtube{
    display: flex;
    align-self: center;
    margin-left: 83%;
    right: 100%;
    margin-top: 5vw;
    grid-area: i3;
    font-size: 5vw;
}
footer > div:nth-of-type(2n) > div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas:
    "img span i1"
    ". i3 ."
}

@media(min-width: 767px){ /*767-961*/
    nav > img:first-of-type {
        
        width: 20%;
        
    }
    .fas.fa-bars{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        margin-right: 8vw;
    }
   
    header{
        display: grid;
        grid-template-columns: 50vw 50vw ;
        grid-template-rows:  20vw 15vw 15vw 10vw 50vw;
        grid-template-areas:
        "head ."
        "text1 ."
        "input button"
        "par2 ."
        "image ."    
    }
    header > img {
        display: grid;
        grid-area: image;
        width: 70vw;
        margin-left: 30vw;
        margin-top: -10vw;
    }
    header > h1{
        display: grid;
        grid-area: head;
        font-size: 8vw;
        font-weight: 700;
        margin-left: 10%;
        margin-top: 8%;
        width: 175%;
        margin-bottom: 0;
        height: 10vw;
    }
   
    header > p:first-of-type{
        display: grid;
        grid-area: text1;
        width: 175%;
        margin-left: 10%;
        margin-right: 5%;
        font-size: 2.7vw;
    }
    header > p:nth-of-type(2){
        display: grid;
        grid-area: par2;        
        font-size: 3vw;
    }
    header > p:nth-of-type(2) > a{
        position: relative;
        bottom: 3.5vw;
        left: 30vw;
    }
    input{
        display: grid;
        grid-area: input;
        font-size: 3vw;
        margin-left: 10vw;
        width: 40vw;
    }
    header > button{
        display: grid;
        grid-area: button;
        font-size: 2.5vw;
        padding-left: 1vw;
        padding-top: 3vw;
        margin-left: 2vw;
        margin-top: 8vw;
        height: 9vw;
        width: 25vw;
        color: white;
        background-color:#192592;
        border-radius: 1vw;
    }
    main{
        margin-top: -8vw;
    }
    main > div:first-of-type{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    main > div:first-of-type > button:first-of-type{
        display: flex;
        align-self: center;
        padding: 3vw;
        padding-left: 6vw;
        width: 30vw;
        height: 10vw;
        margin-left: 35vw;
        margin-right: 35vw;
        font-size: 2vw;
        font-weight: 800;
        color:blue;
        border-color: blue; 
        border-radius: 1vw;
    }
    main > div:first-of-type > p{
        width: 85vw;
        margin-left: 7vw;
        margin-right: 0;
        font-size: 2.5vw;
    }
    h2{
        margin-left: 19vw;
    }
    main > div:first-of-type > img{
        display: flex;
        width:25%;
        padding-left: 12.5%;
        padding-right: 12.5%;
        padding-bottom: 10%;
        padding-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    main > div:first-of-type > img:nth-of-type(1){
        padding-left: 0%;
        margin-left: 12%;
        border-bottom: 2px solid #b6b4b4;
        border-right: 2px solid #b6b4b4;
        padding-top: 5%;
    }
    main > div:first-of-type > img:nth-of-type(2){
        padding-bottom: 8.8%;
        border-bottom: 2px solid #b6b4b4;
        margin-right: 12.5%;
        padding-right: 0%;
        padding-bottom: 9.1%;
        padding-top: 5%;
    }
    main > div:first-of-type > img:nth-of-type(3){
        padding-top: 8%;
        padding-right: 12%;
        padding-bottom: 9.8%;

    }
    main > div:first-of-type > img:nth-of-type(4){
        width:35%;
        margin-left: 0%;
        padding-right: 0%;
        padding-left: 6.5%;
        margin-right: 7.5%;
        padding-top: 9.9%;
        padding-bottom: 9.95%;
        border-left: 2px solid #b6b4b4;
    }
    main > div:first-of-type > img:nth-of-type(5){
        padding-left: 0%;
        margin-left: 12.5%;
        border-top: 2px solid #b6b4b4;
        padding-right: 12%;
    }
    main > div:first-of-type > img:nth-of-type(6){
        border-left: 2px solid #b6b4b4;
        border-top: 2px solid #b6b4b4;
        margin-right: 12.5%;
        padding-right: 0%;
        padding-top: 9.9%;
        padding-left: 11.5%;
        padding-bottom: 5%;
        margin-bottom: 4.85%;
    }
    
    main > div:nth-of-type(2){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 20vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        border-bottom: 3px solid #dfdddd;
    }
    main > div:nth-of-type(2) > p:first-of-type{
        width: 45vw;
        font-size: 4vw;
        margin:0;
        grid-row: 1/2;
        text-align: left;
        padding-top: 3vw;
        margin-left: -5vw;
        margin-bottom: -2vw;
    }
    main > div:nth-of-type(2) > p:nth-of-type(2){
        width: 30vw;
        margin:0;
        margin-left: 6vw;
        margin-top: 0vw;
        grid-row: 2/3;
        font-size: 2.5vw;
        text-align: left;
        padding-bottom: 3vw;

    }
    main > div:nth-of-type(2) > input{
        width: 80%;
        height: 30%;
        font-size: 2vw;
        margin:0;
        margin-left: 15%;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    main > div:nth-of-type(2) > button{
        width: 80%;
        height: 30%;
        font-size: 2vw;
        align-self: center;
        margin:0;
        margin-left: 5%;
        grid-column: 3/4;
        grid-row: 1/3;
    }
    
    footer >div:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.75fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "img ul1 ul2 ul3 ul4"
        ;
    }
    footer > div:first-of-type > ul{
        list-style-type: none;
        position: relative;
        margin-left: 0%;
        font-size: 1.5vw;
    }
    footer > div > ul:nth-of-type(3n){
        padding-right: vw;
        margin-right: -5%;
    }
    footer > div:nth-of-type(2) {/* wrap aqui o al pare*/
        display: flex;
        height: 12vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer > div:nth-of-type(2) > div:first-of-type{/* wrap aqui o al pare*/
        display: flex;
        height: 8vw;
        width: 10vw;
        margin-left: 20vw;
    }
    footer > div:nth-of-type(2)> ul{
        display: inline;
        justify-self: unset;
        margin-top: 3vw;
        margin-left: 3vw;
        width: 35vw;
        left:0;
    }
    footer > div:nth-of-type(2)> ul > li{
        display: inline;
        margin:0;
        width: 10vw;
        font-size: 1.5vw;

    }
    footer > div:nth-of-type(2) > div:first-of-type > img{
        margin-left: 0%;
        margin-right: 0;
        margin-top: 5vw;
        width: 3.5vw;
    }
    footer > div:nth-of-type(2) > div:first-of-type > span{
        display: inline-block;
        width: 10vw;
        text-align: center;
        margin-top: 5vw;
        font-size: 1.5vw;
    }
    .fab.fa-twitter{
        font-size: 3vw;
        width: 3vw;
        margin-right: 0vw;
        margin-left: 4vw;
    }
    .fab.fa-facebook-f{
        font-size: 3vw;
        width: 3vw;
        margin-left: 3vw;
    }
    .fab.fa-youtube{
        font-size: 4vw;
        margin-left: 3vw;
        width: 3vw;
    }
    .fas.fa-chevron-down{
        margin-top: 5vw;
        font-size: 4vw;
        margin-left: 3vw;
        width: 3vw;
    }
}
@media(min-width: 960px){
    /* main > div:first-of-type > img{
        display: flex;
        width:25%;
        padding-left: 12.5%;
        padding-right: 12.5%;
        padding-bottom: 10%;
        padding-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
        border:unset;
    } */
    main > div:first-of-type > img:nth-of-type(1){
        display: flex;
        width:25%;
        margin-left: 4.5%;
        margin-right: 3.5%;
        margin-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
        border: unset;
    }
    main > div:first-of-type > img:nth-of-type(2){
        border: unset;
        display: flex;
        width:25%;
        margin-left: 4.5%;
        margin-right: 3.5%;
        margin-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
    }
    main > div:first-of-type > img:nth-of-type(3){
        border: unset;
        display: flex;
        width:25%;
        margin-left: 4.5%;
        margin-right: 3.5%;
        margin-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
    }
    main > div:first-of-type > img:nth-of-type(4){
        padding-right: 0%;
        padding-left: 0%;
        padding-top: 9.9%;
        padding-bottom: 9.95%;
        border-left: unset;
        width:25%;
        margin-left:6%;
        margin-right: 2%;
        margin-bottom: 0%;
    }
    main > div:first-of-type > img:nth-of-type(5){
        border: unset;
        display: flex;
        width:25%;
        margin-left: 4.5%;
        margin-right: 3.5%;
        margin-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
    }
    main > div:first-of-type > img:nth-of-type(6){
        border: unset;
        display: flex;
        width:25%;
        margin-left: 4.5%;
        margin-right: 3.5%;
        margin-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 9%;
    }
    main > div:first-of-type > img{
        display: flex;
        width:25%;
        margin-left: 4.5%;
        margin-right: 3.5%;
        margin-bottom: 9%;
        border:unset;
    }
   
}
@media(min-width: 1200px){
    nav {
        margin-top: 0;
    }
    body > nav > img{
       width: auto;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-right: 3vw;
    }
    nav ul li{
        height: 4vw;
        line-height: 4vw;
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: center;
        align-self: center;
        font-size: 1.6vw;
        font-weight: 600;
        color: gray;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    nav ul li:nth-of-type(4){
        border-radius: 1vw;
        border-style: solid;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-left: 1vw;
    }
    
    .fas.fa-bars{
        display: none;
    }
    header{
        display: grid;
        grid-template-rows: unset;
    } 
    header img{
        grid-column: 1/2;
        grid-row: 1/5;
        margin-left: 0;
    }
    header h1{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 45vw;
        margin-left: 0vw;
        font-size: 6vw;
    }

    header p:first-of-type{
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 0vw;
        font-size: 1.8vw;
        width: 45vw;
        padding-top: 5vw;
    }
    header input{
        display: none;
    }
    header button{
        grid-column: 2/3;
        grid-row: 3/4;
        margin-left: 0vw;
        margin-top: 3vw;
        margin-bottom: 1vw;
        height: 6vw;
        width: 20vw;
        font-size: 1.8vw;
        padding-top: 2vw;
    }
    header > p:nth-of-type(2){
        display: unset;
        grid-column: 2/3;
        grid-row: 4/5;
        margin: 0;
        width: 30vw;
        height: 20vw;
        font-size: 2vw;
    }
    header > p:nth-of-type(2) > a{
        width: auto;
        position: unset;
    }

}